{{ partial "header" . }}
{{"<!-- begin layouts > staticpage > contact-us.html  //-->" | safeHTML}}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="innertop-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">	

<h1 style="text-align: center;">Contact Us</h1>

<div style="max-width: 500px; margin: 0 auto;">
<form id="contactform" style="font-size: 14pt;" action="//formspree.io/&#99;ontact&#64;r&#117;&#110;lik&#101;&#104;&#101;ll&#46;band" method="POST">
	<label for="name"><p>Your Name</p></label>
    <input type="text" name="name" placeholder="Your Name" style="display:block;">
    
    <label for="_replyto"><p>Your Email</p></label>
    <input type="email" name="_replyto" placeholder="Your Email" style="display:block;">
    
    <label for="message"><p>Message</p></label>
    <textarea name="message" placeholder="Message" style="display:block; min-height: 200px;"></textarea>
    <input type="submit" value="Send">
    <input type="hidden" name="_next" value="http://www.runlikehell.band/" />
    <input type="hidden" name="_subject" value="Run Like Hell contact" />
    <input type="text" name="_gotcha" style="display:none" />
</form>
</div>
						</div>
					</div>
				</div>
			</section>
		</div> <!-- maininner end -->
	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

{{ partial "footer" . }}
{{"<!-- end layouts > staticpage > contact-us.html  //-->" | safeHTML}}
</body>
</html>
