<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
{{"<!-- begin layouts > gallery.html  template //-->" | safeHTML}}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="content" class="grid-block">
				<div id="system-message-container"></div>
				<div id="system">
					<article class="item">
						<div class="content clearfix">
							<div class="grid-box width100 grid-v">
								<div class="module mod-box  deepest bss-slides diyslideshow">
									{{ range .Params.slideshow }}
										<figure><img src="{{ . }}" width="100%" /></figure>
										<figcaption></figcaption>
									{{ end }}
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
		</div> <!-- maininner end -->

	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

<!-- Include our /layouts/partials/footer.html partial -->
{{ partial "footer" . }}
{{"<!-- end layouts > gallery.html template //-->" | safeHTML}}

	<script src="/js/better-simple-slideshow.js" type="text/javascript"></script>
	<script>
		var opts = {
			auto : {
				speed : 5000,
				pauseOnHover : true
			},
			fullScreen : false
		};

		makeBSS('.diyslideshow', opts);
	</script>

{{ partial "jQueryLoader" . }}

</body>
</html>
