<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
{{"<!-- begin layouts > gallery.html  template //-->" | safeHTML}}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="content" class="grid-block">
				{{ .Content }}
			</section>
		</div> <!-- maininner end -->
	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->


<!-- Include our /layouts/partials/footer.html partial -->
{{ partial "footer" . }}
{{"<!-- end layouts > gallery.html template //-->" | safeHTML}}

</body>
</html>
