<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
{{"<!-- begin layouts > about.html  template //-->" | safeHTML}}

<section id="top-b" class="grid-block">
	<div class="wrapper">
		<div class="grid-box width100 grid-h">
			<div class="module mod-box  deepest">
				{{ .Content }}
			</div>
		</div>
	</div>
</section>


<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="content" class="grid-block">
				<div id="system-message-container"></div>
				<div id="system">
					<article class="item">
					<div class="content clearfix">

<!-- Put table of upcoming events here-->


					</div>
					</article>
				</div>
			</section>
		</div> <!-- maininner end -->

	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

<!-- Include our /layouts/partials/footer.html partial -->
{{ partial "footer" . }}
{{"<!-- end layouts > about.html template //-->" | safeHTML}}


{{ partial "jQueryLoader" . }}

</body>
</html>
