<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
{{"<!-- begin layouts > about.html  template //-->" | safeHTML}}

<section id="top-b" class="grid-block">
	<div class="wrapper">
		<div class="grid-box width100 grid-h">
			<div class="module mod-box  deepest">
				<div>
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>


<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="content" class="grid-block">
				<div id="system-message-container"></div>
				<div id="system">
					<article class="item">
					<div class="content clearfix">
						<!-- Start of table of upcoming events-->
						<table width="100%">
						<tbody>
							<!-- For each year-->
							{{ with .page.Params.upcoming }}
								<!-- Display the year heading-->
								<!-- Start of table-->
								<!-- For each event in the current year-->
									<!--Display the stuff in a table row-->
								<!--end of for each event-->
							<!--end of for each year-->
						<!--End of table of upcoming events-->
						</tbody>
						</table>
					</div>
					</article>
				</div>
			</section>
		</div> <!-- maininner end -->

	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

<!-- Include our /layouts/partials/footer.html partial -->
{{ partial "footer" . }}
{{"<!-- end layouts > about.html template //-->" | safeHTML}}


{{ partial "jQueryLoader" . }}

</body>
</html>
