{{ partial "header" . }}
{{"<!-- begin layouts > blog > single.html  //-->" | safeHTML}}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="innertop-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">	

<article class="blog">
{{ with .Params.image }}<image src="{{ . }}" style="display: block; margin: auto; height: 300px; width: auto;"/>{{ end }}
<h1 style="text-align: center;">{{ .Title }}</h1>
<p style="text-align: center;">{{ with .Params.author }}by {{ . }} — {{ end }}{{ .Date.Format "Monday, Jan 02, 2006" }}</p>
<div class="content">
{{ .Content }}
</div>
</article>

						</div>
					</div>
				</div>
			</section>
		</div> <!-- maininner end -->
	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

{{ partial "footer" . }}
{{"<!-- end layouts > blog > single.html  //-->" | safeHTML}}
</body>
</html>
