{{ partial "header" . }}
{{"<!-- begin layouts > blog > single.html  //-->" | safeHTML}}

{{"<!-- TODO: move this style sheet into combined2.css -->" | safeHTML}}
<link rel="stylesheet" href="css/blog.css" />


<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="innertop-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">	

<article class="blog">
<h1>{{ .Title }}</h1>
 <p>{{ with .Params.author }}by {{ . }} — {{ end }}{{ .Date.Format "Monday, Jan 02, 2006" }}</p>
<div class="content">
{{ .Content }}
</div>
<!-- we only want to show the tags section at the bottom if it's a post [ie. not on static pages] -->
{{if eq .Type "post"}}
<!-- tags for each post are defined in the front-matter: tags = ["tag1","tag2","tag3"]-->
<div class="tags">
<b>TAGS:</b>
<!-- loop through the array of tags -->
{{range .Params.tags}}
<!-- within the loop the dot '.' = the current item [in this case current tag] -->
<a href="/tags/{{.}}">{{.}}</a>,&nbsp;
{{end}}
<!-- end range loop -->
{{else}}
<!-- not a post page, so do nowt -->
{{end}}
<!-- end the if...else -->
</div>
</article>

						</div>
					</div>
				</div>
			</section>
		</div> <!-- maininner end -->
	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

{{ partial "footer" . }}
{{"<!-- end layouts > blog > single.html  //-->" | safeHTML}}
</body>
</html>
