{{ partial "header" . }}
{{"<!-- begin layouts > _default > single.html  //-->" | safeHTML}}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box" style="width:100%">
			<section id="innertop-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">	

<article>

<div class="content">
{{ .Content }}
</div>

</article>

						</div>
					</div>
				</div>
			</section>
		</div> <!-- maininner end -->
	</div> <!-- main class grid-block end-->
</div> <!-- wrapper grid-block content-texture end-->

{{ partial "footer" . }}
{{"<!-- end layouts > _default > single.html  //-->" | safeHTML}}
</body>
</html>
