{{"<!-- begin footer partial //-->" | safeHTML}}
<!-- bottom block -->
</div>
	</div>
		</div>
			<section id="bottom-c" class="grid-block footer_texture_2">
				<div class="wrapper grid-block"></div>
				<div class="wrapper grid-block">
					<div class="footer-body">
<!-- use Golang template code for current year, so we don't have to sit up on NYE -->
<!-- editing the footer! -->
&copy; Run Like Hell Productions, Inc. 2016-{{now.Format "2006"}}
					</div>	
				</div>		
			</section>
			<section id="bottom-d">
				<div class="wrapper grid-block">
				</div>
				<a id="totop-scroller" href="index.html#page"></a>
				<div id="footer-block">
				</div>	
			</section>

{{"<!-- end footer partial //-->" | safeHTML}}
