{{"<!-- begin footer partial //-->" | safeHTML}}
<!-- bottom block -->
					</div> {{"<!-- sheet-body main_texture_0 //-->" | safeHTML}}
				</div> {{"<!-- sheet main-content //-->" | safeHTML}}
			</div> {{"<!-- wrapper //-->" | safeHTML}}
			<section id="bottom-c" class="grid-block footer_texture_2">
				<div class="wrapper grid-block"></div>
				<div class="wrapper grid-block">
					<div class="footer-body">
<!-- use Golang template code for current year, so we don't have to sit up on NYE -->
<!-- editing the footer! -->
<p style="text-align:center">&copy; Run Like Hell Productions, Inc. 2016-{{now.Format "2006"}}</p>
					</div>	
				</div>		
				<section id="bottom-d">
					<div class="wrapper grid-block">
					</div>
					<a id="totop-scroller" href="index.html#page"></a>
					<div id="footer-block">
					</div>	
				</section>
			</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"> defer</script>
<script>!window.jQuery && document.write('<script src="js/jquery-3.2.1.slim.min.js"><\/script>')</script>
<script>
	window.onload = function() {
		(function($){
		$(document).on('ready', function() {
					});
		})(jQuery);
	}
</script>

{{"<!-- end footer partial //-->" | safeHTML}}
