{{"<!-- begin navbar partial //-->" | safeHTML}}
	<div class="top-bg  "></div>
	<!-- a small dark toolbar -->
	<div id="toolbar" class="grid-block">
		<div class="wrapper grid-block">					
			<div class="float-right top-links">
			</div>
		</div>
	</div>

	<div class="wrapper">
	 	<header id="header">
	 		<div id="header-top">				
			</div>
		</header>

		<div class="sheet header">
			<div class="sheet-body">
				<div class="wrapper grid-block">
					<div class="grid-block">
						<div id="hmenu" class="grid-block">
							<nav id="menu">
								<ul class="menu menu-dropdown">
									<li class="level1 active current"><a href="/" class="level1 active current"><span>Home</span></a></li>
									<li class="level1"><a href="/about" class="level1"><span>The Band</span></a></li>
									<li class="level1"><a href="/upcoming-shows" class="level1"><span>Upcoming Shows</span></a></li>
									<li class="level1"><a href="/gallery" class="level1"><span>Gallery</span></a></li>
									<li class="level1"><a href="/videos" class="level1"><span>Videos</span></a></li>
									<li class="level1"><a href="/blog" class="level1"><span>Blog</span></a></li>
									<li class="level1"><a href="/contact-us" class="level1"><span>Contact Us</span></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

{{"<!-- end navbar partial //-->" | safeHTML}}