{{"<!-- begin navbar partial //-->" | safeHTML}}
	<div class="top-bg  "></div>
	<!-- a small dark toolbar -->
	<div id="toolbar" class="grid-block">
		<div class="wrapper grid-block">					
			<div class="float-right top-links">
			</div>
		</div>
	</div>

	<div class="wrapper">
	 	<header id="header">
	 		<div id="header-top">	
				<a id="logo" href="http://runlikehell.band"><span class="logo-img no-size-auto"></span>
					</a>			
			</div>
		</header>

		<div class="sheet header">
			<div class="sheet-body">
				<div class="wrapper grid-block">
					<div class="grid-block">
						<div id="hmenu" class="grid-block">
							<nav id="menu">
								<ul class="menu menu-dropdown">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
	<li class="level1{{ if $currentPage.IsMenuCurrent "main" . }} active current{{ end }}">
    	<a href="{{ .URL }}" class="level1{{ if $currentPage.IsMenuCurrent "main" . }} active current{{ end }}">
    		<span>{{ .Name }}</span>
    	</a>
    </li>
{{ end }}

								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

{{"<!-- end navbar partial //-->" | safeHTML}}