<!-- Include our /layouts/partials/header.html partial -->
{{ partial "header" . }}
{{"<!-- begin layouts > index.html  template //-->" | safeHTML}}
<body id="page" class="page bg_texture_17 comp_texture_0 element_grad_1">
<!-- Include our /layouts/partials/navbar.html partial -->
{{ partial "navbar" . }}
<!-- As this is the homepage, we don't want to list all the content -->
<!-- So we only show pages whose 'type = "homepage"' in the front-matter -->
<!-- As there is only one [/content/index.md], that only shows its content here  -->
<!-- Yes –it is a bit clunky! -->
{{ range where .Data.Pages "Type" "homepage" }}
<article>
<div class="content">
<!-- Content. is the actual content of '/content/index.md' i.e. Welcome message. Could optimize this more... gets messy with divs and sections -->
{{ .Content }}
</div>
</article>
{{ end }}

<div class="wrapper grid-block content-texture ">
	<div id="main" class="grid-block">
		<div id="maininner" class="grid-box">
			<section id="innertop-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">
							<div class="avs player ">
								<div class="avs-player"><iframe src="https://www.youtube.com/embed/U6S3jQxQCMs?rel=0&showinfo=0&iv_load_policy=3&modestbranding=1" frameborder="0" allowfullscreen></iframe></div>
							</div>		
						</div>
					</div>
				</div>
			</section>
			<section id="content" class="grid-block">
				<div id="system-message-container"></div>
				<div id="system">
					<article class="item">
						<div class="content clearfix"></div>
					</article>
				</div>
			</section>
			<section id="innerbottom-a" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">
							<div><h1 style="text-align: center;">Latest News</h1></div>		
						</div>
					</div>
				</div>
			</section>

<!-- Recent Blog entries. First, set DOM stuff-->
			<section id="innerbottom-b" class="grid-block">
				<div class="wrapper">
					<div class="grid-box width100 grid-h">
						<div class="module mod-box  deepest">
							<div id="fd" class="eb eb-mod mod_easybloglatestblogs">
								<div class="eb-mod mod-items-grid clearfix">
					<!-- Set grid variable -->
								{{ $.Scratch.Set "grid" 1 }}
					<!-- Loop through Blog type pages -->
								{{ range first 4 (where .Data.Pages "Section" "blog").ByDate.Reverse }}
									<div class="mod-grid mod-grid-{{ $.Scratch.Get "grid" }}" style="width:50%;">
										<div class="mod-item">
											<div class="eb-mod-head mod-table align-middle">
												<div class="mod-cell">
													<div class="mod-muted mod-small mod-fit">{{ .Date.Format "January 1, 2006" }}</div>
												</div>
											</div>
											<div class="eb-mod-context">
											{{ if .Params.image }}
												<div class="eb-mod-thumb is-center is-full">
													<a href="{{ .URL }}" class="eb-mod-image-cover"
														style="background-image: url('{{ .Params.image }}');
														width: 100%;
														height: 200px;"
														></a>
												</div>
											{{ end }}
											<div class="eb-mod-title">
												<a href="{{ .URL }}" class="eb-mod-media-title">{{ .Title }}</a>
											</div>
											<div class="eb-mod-body">
												{{ .Summary }}
											</div>
										</div>
										<div class="eb-mod-foot mod-muted mod-small">
											<div class="mod-cell">
												<a href="{{ .URL }}">Read More</a>
											</div>
										</div>
									</div>
									</div>

					<!-- Alternate grid between 1 and 2 for columns -->
								{{ $.Scratch.Set "grid" ( sub 3 ($.Scratch.Get "grid") ) }}

								{{ end }}

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
<!-- End of Recent Blog Entries section-->
		</div> <!-- maininner end -->

		<aside id="sidebar-b" class="grid-box">
			<div class="grid-box width100 grid-v">
				<div class="module mod-box  deepest">
					<h3 class="module-title"><span class="color">Like</span> Us On Facebook</h3><iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/RunLikeHellTributeBand/&amp;locale=en_US&amp;width=300&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=%23000000&amp;stream=true&amp;header=false&amp;height=600" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:600px;"></iframe>
					<center><div style="color:#707070;font-size: xx-small;"></div></center>
				</div>
			</div>
			<div class="grid-box width100 grid-v">
				<div class="module mod-box  deepest">
Slide show test. Files will be {{ range .Params.slideshow }} {{ . }} {{ end }}.
				</div>
			</div>
		</aside>
	</div>
</div>

<!-- Include our /layouts/partials/footer.html partial -->
{{ partial "footer" . }}
{{"<!-- end layouts > index.html template //-->" | safeHTML}}

	<script>
		(function($){
		$(document).on('ready', function() {
					});
		})(jQuery);
	</script>
</body>
</html>
